# Build Folders
bin/
obj/
out/
Debug/
Release/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# ASP.NET specific
appsettings.Development.json

# Node.js dependencies
node_modules/

# Logs
*.log

# Others
*.vspscc
.vs/
.DS_Store
Thumbs.db
